:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  max-width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
}



.button {
  display: flex;
  justify-content: flex-end;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
.dot-pulse {
  margin: auto;
}